# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popuplar languages for Data Science.
- List commmoly used libraries used by Data Scientists.
- List tools for Data Science.
- Show some examples of evaluating arthmetic expressions in Python.

Some of the popular languages that Data Scientists use are: 
1. python
2. jupyter notebook
3. R

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. Matplotlib

|Data Science Tools|
|------------------|
|Hadoop|
|HDFS|
|Hive|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [23]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [25]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Sangeon An